header{
    color:brown;
    border-bottom: 1px solid black;
    text-align: center;
    margin:0%;
}
.lang{
    color:green;
    text-align: end;
}
.menu{
    text-align: right;
    list-style-type: none;
    background-color: paleturquoise;
    text-shadow: none;
    
}